.container{
    margin-left: 11px;
    border: rgb(28, 26, 26) solid 1px;
    width: 33%;
    background-color: rgb(141, 224, 250);
}
div{
    padding: 5px 10px;
}
label{
    margin-right: 10px;
    font-size: 20px;
    color: darkorange;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
input{
    font-size: 15px;
    border: rgb(235, 142, 20) solid;
    border-radius: 1em;
    width: 50%;
}
table {
    
    border-collapse: collapse;
}
th,td {
    text-align: center;
    border: 1px #CCC solid;
    padding: 5px 10px;
}

th {
    font-size: 20px;
    color: burlywood;
    width: auto;
    
}
tr th:nth-child(odd){
    background-color: rgb(5, 5, 5);
}
input:hover{
    background-color: rgb(235, 142, 20);
}
.chon{
    width: 30%;
    border: rgb(235, 142, 20) solid;
    background-color:bisque
}
td:nth-child(1){
    color: crimson;
}