.container{
    border: solid 1px #333;
    width: 60%;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
h1{
    margin-left: 20px;
    
    

}
i{
    margin-right: 30px;
    width: 20px;
}
.con{
    background-color: rgb(244, 239, 239);
    display: flex;
    width: 60%;
    height: 10px;
    margin-right: 20px;
}
.room1{
    border: rgb(135, 215, 95) solid 1px;
    background-color: aquamarine;
    flex: 0.7;
}
.room2{
    border: rgb(238, 19, 12) solid 1px;
    background-color: rgb(237, 6, 6);
    flex: 0.5;
}
.room3{
    border: rgb(11, 187, 211) solid 1px;
    background-color: rgb(20, 180, 208);
    flex: 0.25;
}
.room4{
    border: rgb(238, 227, 12) solid 1px;
    background-color: rgb(233, 237, 6);
    flex: 0.8;
}
.room5{
    border: rgb(238, 12, 227) solid 1px;
    background-color: rgb(237, 6, 218);
    flex: 0.4;
}

.content:first-child h1 i{
    color: rgb(9, 255, 0);
    
}
.content:nth-child(2) h1 i{
color: red;
}
.content:nth-child(3) h1 i {
    color: aqua;
}
.content:nth-child(4) h1 i {
color: yellow;
}
.content:last-child h1 i {
    color: violet;
}
